@using System.Linq
@using Garaio.CompositeC1Packages.GoogleAnalytics.DataTypes
@using Garaio.CompositeC1Packages.GoogleAnalytics.Package.App_GlobalResources

@inherits Composite.AspNet.Razor.RazorFunction

@functions {
    public override string FunctionDescription
    {
        get  { return Garaio_CompositeC1Packages_GoogleAnalytics_Texte.Function_Description; }
    }

	public string GetAccountId()
	{
		IGoogleAnalyticsConfig googleAnalyticsConfig = Data.Get<IGoogleAnalyticsConfig>().SingleOrDefault();

		return googleAnalyticsConfig != null ? googleAnalyticsConfig.AccountId : string.Empty;
	}
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
	<head>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '@GetAccountId()']);
			_gaq.push(['_trackPageview']);
			(function () {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
    <body>
    </body>
</html>